@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
body{
    font-family: "Inter", sans-serif;
    font-weight:  400;
    font-size: 14px;
    color: #0a0a0a;
    background-color: #F5F5F7;
}

.header {
    background-color: #0a0a0a;
    color: #717171;
    padding: 32px 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}
.phone{
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
}
.menu-item{
    list-style-type: none;
    margin:0;
    padding:0;
    font-size: 24px;
    font-weight: 29px;
    line-height: 29px;
}
.menu-item:first-child {
    margin-right: 30px;
}
.menu-item:nth-child(2) {
    margin-right: 30px;
}
.menu-link, .phone {
    line-height: 29px;
    font-size: 24px;
    text-decoration: none;
    color: inherit;
}
.logo {
}


/* Main */
.main {
}
.headline {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin-top: 71px;
    margin-bottom: 40px;
}
.container {
}
.title {
    font-size: 64px ;
    color: #490E84;
    text-transform: uppercase;
    line-height: 77px;
}
.header-line-botton {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 22px 118px 19px;
    background-color: #490E84;
    border-radius: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin: 25px 0 0 0;
}




/* What's new */
.news {
    background-color: #fff;
    padding: 90px 0 150px;
}
.news-title {
    color: #717171;
    text-align: center;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    margin: 0 0 50px;
}
.news-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info {
    width: 40%;
}
.info p{
    margin-bottom: 30px;
}
.info p:last-child{
    font-weight: 700;
}


/* Color*/


.news-title {
    margin-bottom: 57px;
}
.color-iphone {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.color-item {
    display: block;
    text-align: center;
}
.color-item h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #0A0A0A;
}




/* Order*/
.order {
    background-color: white ;
}
.order-info {
    display: flex;
    background-color: #574B63;
    justify-content: space-between;
}
.order-text{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.order-title {
    margin: 130px 0 70px;
    color: white;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
.order-input{
    display: block;
    border: none;
    background-color: #574B63;
    border-bottom: 2px solid white ;
    color: white;
    margin-bottom: 25px;
    padding: 10px 0;
}
.order-input::placeholder{
    color: white;
    opacity: 0.5;
}
.order-input:focus{
    background-color: #fff;
    color: purple;
    padding-left: 15px;
}
.order-input::after{
    border: none;
}
.order-paragraph {
    text-align: center;
    margin: 24px 0 30px;
    color: white;
    opacity: 0.5;
}
.order-button {
    background-color: white;
    border-radius: 30px;
    max-width: 20%;
    max-height: 50px;
    padding: 16px 81px;
    margin: 0 auto;
    text-decoration: none;
    color: #490E84;
    font-weight: 700;
}
.order-img{

}